<a href="https://colab.research.google.com/github/cinnData/PythonBootcamp/blob/main/Notebooks/%5BPY-10E%5D%20Example%20-%20Barcelona%20Airbnb%20listings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [PY-10E] Example - Barcelona Airbnb listings

## Importing the data

In [ ]:
import pandas as pd

In [ ]:
path = 'https://raw.githubusercontent.com/cinnData/PythonBootcamp/main/Data/'

In [ ]:
df = pd.read_csv(path + 'airbnb.csv', index_col=0)

## Exploring the data

In [ ]:
df.info()

In [ ]:
df.head()

## Q1. Duplicate listings

In [ ]:
df.index.duplicated().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

## Q2. Proportion of listings with missing ratings

In [ ]:
df.isna().mean()

In [ ]:
df['review_scores_rating'].isna().mean().round(3)

## Q3. Distribution of the price

In [ ]:
df['price'].plot.hist(figsize=(7,5), title='Figure 1. Distribution of the price',
    color='gray', edgecolor='white', xlabel='Price per night (euros)');

In [ ]:
df['price'].describe()

In [ ]:
filter = df['price'].between(25,175)

In [ ]:
df['price'][filter].plot.hist(figsize=(7,5),
    title='Figure 2. Distribution of the price (trimmed data)',
    color='gray', edgecolor='white', bins=30, xlabel='Price per night (euros)');

## Q4. Average price per room type

In [ ]:
pd.pivot_table(df, values='price', index='room_type', aggfunc='mean').round()

In [ ]:
pd.pivot_table(df, values='price', index='room_type', aggfunc='median')

In [ ]:
roomtype_price =  pd.pivot_table(df, values='price', index='room_type', aggfunc='median')
roomtype_price.plot.bar(figsize=(7,5), legend=False,
    title='Figure 3. Median price per room type', xlabel='Room type',
    color='gray', ylabel='Price per night (euros)');

## Q5. Top-10 neighbourhoods

In [ ]:
df['neighbourhood'].value_counts().head(10)

In [ ]:
df.groupby(by='neighbourhood')['price'].agg(['count', 'median']).sort_values(by='count', ascending=False).head(10)